.reveal h1 {
  text-transform: none;
}

.reveal h2 {
  text-transform: none;
}

.reveal h3 {
  text-transform: none;
}

.container{
    display: flex;
}

.col{
    flex: auto;
}

#abapXmlExample {
  overflow: hidden;
  max-height: unset;
}

.fixed {
  font-family: Courier;
  font-weight: normal !important;
}

.avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  filter: grayscale(1);
  border-radius: 50%;
  margin: 1px !important;
}

.nomargin {
  margin: 0px !important;
}

.hide-horizontal-overflow {
  overflow-x: hidden !important;
}